.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

#train {
  margin-top: 10px;
}

label {
  display: inline-block;
  width: 250px;
  padding: 6px 0 6px 0;
}

.canvases {
  display: inline-block;
}

.prediction-canvas {
  width: 100px;
}

.pred {
  font-size: 20px;
  line-height: 25px;
  width: 100px;
}

.pred-correct {
  background-color: #00cf00;
}

.pred-incorrect {
  background-color: red;
}

.pred-container {
  display: inline-block;
  width: 100px;
  margin: 10px;
}

.tfjs-example-container {
  padding: 42px;
}

.train {
  display: flex;
  text-align: left;
  padding: 32px;
}

.details {
  margin-right: 32px;
}