.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #00004d;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

#train {
  margin-top: 10px;
  height: 24px;
  border: 1px solid #00004d;
}
#train:hover {
  background-color: #cccccc;;
}

#train-epochs, #model-type {
  height: 24px;
  border: 1px solid #00004d;
  padding: 1px 7px 2px;
  border-radius: 0px;
}

label {
  display: inline-block;
  width: 250px;
  padding: 6px 0 6px 0;
}

.canvases {
  display: inline-block;
}

.prediction-canvas {
  width: 100px;
}

.pred {
  font-size: 20px;
  line-height: 25px;
  width: 100px;
}

.pred-correct {
  background-color: #00cf00;
}

.pred-incorrect {
  background-color: red;
}

.pred-container {
  display: inline-block;
  width: 100px;
  margin: 10px;
}

.tfjs-example-container {
  padding: 42px;
}

.train {
  display: flex;
  text-align: left;
  padding: 32px;
  justify-content: center;
}

.details {
  margin-right: 32px;
  padding-top: 24px;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 24px;
  width: 300px;
}
h2 {
  font-weight: 500;
  font-size: 1.5rem;
}
.card h2 {
  margin-top: 0px;
}

.button {
  width: 100%;
  text-align: center;
}

.field-set {
  margin-bottom: 12px;
}